button,
a.button {
  display: inline-grid;
  justify-content: center;
  padding: var(--pibb) calc(1.618 * var(--pibi));
  border-radius: .236em;
  background: var(--button_bgColor);
  font-family: var(--font_default, initial);
  line-height: var(--lineHeight);
  font-weight: bold;
  color: var(--button_text_color);
  user-select: none;

  &:hover {
    --button_bgColor: var(--button_hover_bgColor);
    text-decoration: none;
  }

  &:active {
    --button_bgColor: var(--button_active_bgColor);
  }

  &.secondary {
    --button_bgColor: none;
    --button_text_color: var(--grey_2);
    box-shadow: inset 0 0 0 2px var(--button_text_color);

    &:hover {
      --button_text_color: var(--blue);
    }
  }

  &.link {
    --button_bgColor: none;
    --button_text_color: var(--anchor_color);

    padding: 0;
    font-weight: normal;

    &:hover {
      text-decoration: var(--anchor_hover_textDecoration);
    }
  }

  &.bare {
    --button_bgColor: none;
    --button_text_color: var(--text_color);

    padding: 0;
    font-weight: normal;

    &:hover {
      --button_text_color: var(--anchor_color);
    }
  }

  &[disabled] {
    --button_bgColor: var(--button_disabled_bgColor);
    pointer-events: none;
  }
}