main > section {
  --max_width: var(--mobile_upperBound);

  display: grid;
  gap: var(--column_gap);
  padding: 6.18em calc((100vw - var(--max_width)) / 2);

  @media screen and (min-width: 992px) {
    --max_width: 992px;
  }

  @media screen and (min-width: 1200px) {
    --max_width: 1200px;
  }

  @media screen and (min-width: 1400px) {
    --max_width: 1400px;
  }

  &.hero {
    grid-template-areas: ". slides ."
                         ". nav    .";
  
    grid-template-columns: 0 auto 0;
    grid-template-rows: 1fr auto;
    padding-block: 10em 5em;
    background: var(--secondary_color);

    & > .slides {
      grid-area: slides;
    }

    & > nav {
      grid-area: nav;
    }
  }

  &.test {
    grid-template-areas: ". content .";
    grid-template-columns: 0 auto 0;

    & > ul {
      --x_gap: var(--column_gap);
      --y_gap: var(--row_gap);

      grid-area: content;
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--x_gap);
      row-gap: var(--y_gap);

      @media screen and (min-width: 768px) {
        --x_gap: 3.82em;
        --y_gap: 2.36em;

        & > li {
          flex: 0 0 calc(50% - (var(--x_gap) / 2));
        }
      }

      @media screen and (min-width: 992px) {
        --x_gap: 6.18em;
      }
    }
  }
}